*{
    background: #01012c;
}

h1{
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 80px;
}

h2{
    color:white;
    text-align: center;
    font-family: monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
}

canvas{
    position: relative;
    left: 22%;
}


